body{
background:#eee;
overflow-x:hidden;
}
.height-control{
	position: relative;
  max-width:100vh;
  max-height:100%;
  margin:0 auto;
  overflow: hidden;
}
.height-control:before {
  content: "";
  display: block;
  margin-top: 100%;
}
.child {
  position: absolute;
  top: 0;
  left: 0;
}
/* ----------Login page ------------*/
.login-wrap{
	background:#fff;
	border:1px solid #ccc;
	border-radius:10px;
	margin:10px auto;
}
.login-wrap h2 {
	padding-bottom:20px;
	font-size:80px;
}
.login-wrap form{
	border:1px solid #ccc;
	border-right:0px;
	border-left:0px;
}
.login-wrap .form-group,.login-wrap  .login-footer{
	width:80%;
	margin:10% auto;
}
.login-wrap .form-group input[type=email]{
	border-bottom:0px;
	border-radius:5px 5px 0px 0px;
}
.login-wrap .form-group input[type=password]{
	border-radius: 0px 0px 5px 5px;
}
.login-wrap .form-group input[type=submit]{
	margin:40px 0px 0px 0px;
}
.login-wrap  .login-footer{
	width:80%;
	margin:3% auto;
}
.login-wrap .login-footer a{
	color:#333;
}
/* ----------profile page ------------*/
.personalinfo-cointainer{
	padding:10px;
	margin:auto;
}
textarea{
	min-height:100px;
	resize:none;
}
.form-control[disabled], .disabled{
	background:#fff !important;
	opacity:.65;
}

/* ----------tablet and phones ------------*/
@media (max-width: 767px){
	/* ----------dashboard quiz table page ------------*/
	.quiz-list-table  tr{
		display:block;
		position:relative;
		border:1px solid #ddd;
		margin-bottom:15px;
	}
	.quiz-list-table  tr td{
		border:0px !important;
	}
	.quiz-list-table  .text-right{
		text-align:left;
	}
	.quiz-list-table .btn{
		width:100%;
	}
	.quiz-list-table  .td-top-right{
		position:absolute;
		top:0px;
		right:0px;
	}
	
}