body{
background:#eee;
}
.margin-top-100{
	margin:100px auto 0px auto;
}
.login-wrap{
	width:400px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:10px;
	margin:10px auto;
}
.fa-users{
	font-size:80px;
}
.form-group input[type=email]{
	width:360px;
	border-bottom:0px;
	border-radius:5px 5px 0px 0px;
	margin:auto;
}
.form-group input[type=password]{
	width:360px;
	border-radius: 0px 0px 5px 5px;
	margin:auto;
}