body{
background:#eee;
}
.user-caption{
	margin-top:100px;
}
.login-wrap{
	width:400px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:10px;
	display:block;
	margin:10px auto;
}
.login-wrap h2,h1.user-caption{
	padding-bottom:20px;
	font-size:80px;
}
.login-wrap form{
	border:1px solid #ccc;
	border-right:0px;
	border-left:0px;
}
.login-wrap.form-group{
	width:320px;
	margin:60px auto;
}
.login-wrap.form-group input[type=email]{
	border-bottom:0px;
	border-radius:5px 5px 0px 0px;
}
.login-wrap.form-group input[type=password]{
	border-radius: 0px 0px 5px 5px;
}
.login-wrap.form-group input[type=submit]{
	margin:40px 0px 0px 0px;
}
.login-wrap.login-footer{
	width:320px;
	margin:auto;
	padding:20px 0 20px 0;
}
.login-wrap.login-footer a{
	color:#333;
}

.navbar-right{
	margin-right:0px;
}
.nav li{
	padding-left:15px;
}
.cointainer{
	padding:10px;
}